{% extends 'ttweets_app/index.html' %}
{% load bootstrap4 %}

{% block header %}
<h1 class="display-3"> Tweets by #hashtag </h1>

<p class="lead">Show the hashtag plots by likes and retweets.</p>

{% endblock header %}

{% block content %}
<h2>By Likes</h2>

<center>
<div id="chart">
   <embed type="image/svg+xml" src= {{ likes_plot|safe }} width="1000" />
</div>
</center>

<p style="text-align:center;">
	<a href="{% url 'ttweets:hashtag' %}" class="btn btn-primary">Another one</a>
</p>


<p></p>
<h2> By Retweets </h2>

<center>
<div id="chart">
   <embed type="image/svg+xml" src= {{ retweets_plot|safe }} width="1000" />
</div>
</center>

<p style="text-align:center;">
	<a href="{% url 'ttweets:hashtag' %}" class="btn btn-primary">Another one</a>
</p>

{% endblock content %}