{% extends 'ttweets_app/index.html' %}
{% load bootstrap4 %}

{% block header%}

<h3 class="display-4">
	Save your Tokens
</h3>
<p class="lead">Enter your tokens here. We'll remember them to save you the trouble.</p>

{% endblock header %}

{% block content %}
<form action="{% url 'ttweets_app:tokens' %}" method="post">
	{% csrf_token %}
	{% bootstrap_form form %}

	{% buttons %}
	<input type="submit" value="Save">
	{% endbuttons %}
</form>

<p>
	Don't have tweeter login tokens? <a href="{% url 'ttweets_app:tokens_error'%}"> See help menu</a> 
</p>

{% endblock content %}