{% extends 'ttweets_app/index.html' %}

{% block header %}
<h3>
	Show the Someone's tweets by likes and retweets
</h3>

{% endblock header %}
{% block content %}
<h2>By Likes</h2>

<center>
<div id="chart">
   <embed type="image/svg+xml" src= {{ likes_plot|safe }} width="1000" />
</div>
</center>

<p style="text-align:center;">
	<a href="{% url 'ttweets_app:someone'%}" class="btn btn-primary btn-lg">Another one</a>
</p>


<p></p>
<h2> By Retweets </h2>

<center>
<div id="chart">
   <embed type="image/svg+xml" src= {{ retweets_plot|safe }} width="1000" />
</div>
</center>

<p style="text-align:center;">
	<a href="{% url 'ttweets_app:someone'%}" class="btn btn-primary btn-lg">Another one</a>
</p>

{% endblock content %}