{% extends 'ttweets_app/index.html' %}

{% block header %}

<h1 class="display-3"> This page will open tweets from timeline by likes or RTs</h1>

<p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa, ipsam, eligendi, in quo sunt possimus non incidunt odit vero aliquid similique quaerat nam nobis illo aspernatur vitae fugiat numquam repellat.</p>

{% endblock header %}

{% block content %}
<!-- If logged in-->
<h2>By Likes</h2>

<center>
<div id="chart">
   <embed type="image/svg+xml" src= {{ likes_plot|safe }} width="1000" />
</div>
</center>

<p style="text-align:center;">
	<a href="{% url 'ttweets_app:timeline' %}"> Refresh</a>
</p>


<p></p>
<h2> By Retweets </h2>

<center>
<div id="chart">
   <embed type="image/svg+xml" src= {{ retweets_plot|safe }} width="1000" />
</div>
</center>

<p style="text-align:center;">
	<a href="{% url 'ttweets_app:timeline' %}"> Refresh</a>
</p>

{% endblock content %}